body {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	color: #000;
}

.navbar-laravel {
	background-color: #fff !important;
}

.navbar-brand {
	color: #000;
	font-size: 32px;
}

.next {
	color: #fff;
}


