body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.navbar-laravel {
  background-color: #fff !important;
}

.navbar-brand {
  color: #000;
  font-size: 32px;
}

.next {
  color: #fff;
}

.btn-link {
  color: #000;
  font-size: 12px;
}

.post-message {
  padding-bottom: 20px;
}

.right {
  padding-right: 30px;
}

.share-link {
  color: #000;
}

.next-step {
  color: white;
}

.create-title {
  margin-bottom: 50px;
}

.cld-video-player {
  width: 100%;
}

.edit-link {
  color: #fff;
}

.delete-link {
  color: #fff;
}

.account-delete-link {
  color: #fff;
}

.like-btn {
  border-radius: 50%;
}

.like-btn:hover,
.like-btn:active {
  background-color: #dd1c93 !important;
  border: 1px solid #dd1c93 !important;
}

.card {
  margin-bottom: 20px;
}

.welcome-jumbotron {
  width: 100%;
}

